@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
    --primary-color: #113a43;
    --secondary-color: rgb(102, 153, 204);
    --accent1-color: #FFF275;
    --accent2-color: rgb(238, 150, 75);

    --heading-font: 'Special Elite', serif;
    --paragraph-font: Arial, serif;

    --nav-background-color: #6699CC;
    --nav-link-color: #7a4fdd;
    --nav-hover-link-color: #1d3997;
    --nav-hover-background-color: #7a83e1;
}

* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    display: grid;
    justify-content: center;
}

body {    
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid var(--primary-color);
}

header img {
    grid-column: 1/2;
}

header nav {
    display: flex;
    grid-column: 2/3;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 20px 0px 20px 0px;
}

header nav a {
    display: block;
    color: #19535F;
    font-weight: 700;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-family: 'Special Elite';

}

header nav a:hover {
    background-color: gray;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(102, 153, 204, 0.8);
    text-align: center;
    padding: 10px;   
}

article {
    position: absolute;
    width: 100%;
    top: 35%;
    background-color: rgba(102, 153, 204, 0.8);
    color: black;
}

article p {
    padding: 10px;
}

#articleimage {
    width: 300px;
    float: right;
    padding: 15px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 40px 1fr;
}

.history h2 {
    grid-column: 1/4;
    grid-row: 1;
}

.history>p {
    text-align: justify;
}

.history img {
    grid-column: 2;
    grid-row:2/3;
    justify-self:end;  
}

.history:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.history>p:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}

.history>p:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.adventure>h2 {
    grid-column: 1/4;
}

figure {
    display: flex;
    flex-flow: column;
    max-width: 280px;
}

figcaption {
    background-color: rgba(102, 153, 204, 0.8);
    color: var(--primary-color);
    font-weight: 700;
    padding: 3px;
    font-family: 'Special Elite';
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid var(--primary-color);
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.sociallinks {
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

pre {
    font-family: Arial, serif;
}

.contactus-main {
    display: grid;
    grid-template-columns: 0.2fr 3fr;
    /* display: grid; */
    /* grid-template-columns: .7fr 3fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.contact-details {
    padding: 0;
    margin: 0;
    /* grid-column: 1/2; */
    /* grid-row: 1/3; */
}

.employees {
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* flex-flow: column; */
    /* flex-wrap: wrap; */
}
.employee-pictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.employees h2 {
    width: 100%;
}

.employees figure {
    margin: 5px;
    width: calc(40% - 10px);

}

.employees img, 
.employees figcaption {    

    width: 100%;
    height: auto;
    margin: 0;
}








